.video-wrapper {
    width: 100%;
}

.block-wrapper {
    margin-top: 35px;
}

.video-description {
    position: absolute;
    top: 0px;
    max-width: 455px;
    word-wrap: break-word;
}

.header-wrapper {
    margin-top: 35px;
    margin-bottom: 15px;
}

